body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url("stageBackground.jpeg");
  /* background-image: url("waterfall.mp4"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  font-size: 14pt;
  margin-left: 1rem;
}

.mainRFLogoAnimation {
  display: flex;
  justify-content: center;
  position: sticky;
  flex-wrap: nowrap;
  margin-top: 100px;
  /* display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 150px;
  /* border: 5px solid #0099ff; */
  /* background-color: white; */
  /* margin-bottom: 2rem;
  width: 100%; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbar {
  position: fixed;
  display: flex;
  /* display: flex;
  flex-wrap: wrap;
  align-content: flex-end; */
  /* margin: auto;
  margin-right: 40rem;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: left; */
}

.hyperLink {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  color: black;
  box-shadow: 0px 1px 0px rgba(128, 128, 128, 0.366);
  background-color: rgba(255, 255, 255, 0.469);
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  flex: content;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  height: 3rem;
  border-radius: 2rem 2rem 2rem;
}

.hyperLink:hover {
  background: linear-gradient(90deg, #07effd 0%, #005fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4rem;
  background-position: 0 90%;
  transition: all 0.3s;
  font-size: larger;
  font-weight: bolder;
  color: rgb(19, 79, 209);
}

#tile01 {
  margin-left: -10px;
  width: 200px;
  height: 100px;
}

#mask {
  position: fixed;
  top: 5px;
  align-content: center;
  width: 400px;
  height: 100px;
  font-size: 60px;
  font-weight: 700;
  font-family: "Lobster Two", cursive;
  text-align: center;
  line-height: 90px;
  text-shadow: 0px 2px 2px black, 0px 2px 0px #0099ff;
  background-image: -webkit-radial-gradient(
    center 10px,
    100px 100px,
    #fff9f9 50%,
    #0099ff 51%
  );

  background-size: 60px 150px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: wave-animation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* below is from .box */
}
/* set count iteration count to infinite to get animation to loop */

@keyframes wave-animation {
  0% {
    background-position: 310px 0px;
  }
  50% {
    background-position: 340px -50px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.box {
  margin-top: 10%;
  position: fixed;
  width: 40px;
  height: 70px;
  border-radius: 70%;
  border: 2px solid grey;
  background-image: -webkit-linear-gradient(45deg, 0%, 100%);
  opacity: 0.95;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0px 1px 0px rgba(128, 128, 128, 0.366);
}
.images {
  width: 25%;
  height: 25%;
}

.inputBoxes {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 15rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid blue;
  align-items: center;
  box-shadow: 15px 15px 15px black;
  background-color: rgba(255, 255, 255, 0.485);
  border-radius: 60px 60px 60px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 100%;
  background-color: white;
}

.inputs button {
  border-radius: 10px 10px 10px;
  width: 90px;
  background-color: #0099ff;
  animation: glowing 1300ms infinite;
}

.images {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
  border: 2px solid yellow;
  box-shadow: 40px 40px 40px gold;
  font-size: xx-large;
  font-family: "Lobster Two", cursive;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.welcome {
  display: flex;
  font-size: xx-large;
  font-family: "Lobster Two", cursive;
  position: absolute;
  top: 40%;
  left: 0%;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}

.toiletCompare {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -80%;
  left: 225%;
  right: 0;
  margin: 0 auto;
  border: 2px solid yellow;
  box-shadow: 15px 15px 15px gold;
}
.portaToiletCompare {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 150%;
  left: 200%;
  right: 0;
  margin: 0 auto;
  border: 2px solid yellow;
  box-shadow: 15px 15px 15px gold;
}
.Product-Container {
  display: flex;
  flex-direction: column;
  width: 45%;

  left: 0;
  /* right: 0; */
  margin: 0 auto;
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid blue;
  box-shadow: 15px 15px 15px black;
  background-color: rgb(255, 255, 255);
  border-radius: 60px 60px 60px;
  /* position: sticky; */
}

.prodCont {
  margin-top: 2rem;
  margin-bottom: 2px;
  margin-left: 2rem;
  float: left;
  padding-left: 1rem;
  position: sticky;
}
.prodCont1 {
  margin-top: -3rem;
  margin-bottom: 2px;
  margin-left: 2rem;
  float: left;
  padding-left: 1rem;
  position: sticky;
}
.prodCont2 {
  margin-top: -3rem;
  margin-bottom: 2px;
  margin-left: 2rem;
  float: left;
  padding-left: 1rem;
  position: sticky;
}

.inventoryHead {
  font-size: 45px;
  font-weight: 800;
  font-family: "Lobster Two", cursive;
  margin-left: 37%;
  margin-top: 9rem;
  position: fixed;
}
.productImage {
  display: flex;
  height: 15rem;
  width: 15rem;
  border-radius: 10%;
  margin-top: 3rem;
  margin-left: 10vw;
  margin-right: 20vw;
  margin-bottom: 2rem;
}
.homePage {
  display: inline-block;
  align-content: space-around;
}
